+b.SECTION.stores-list.section.mt-120
	.container
		.section-heading
			h3.suptitle.title-xs Адреси магазинів
			h2.title Шукай нас на карті
		+e.filters
			// Filters form
			+e.FORM.filters-form
				.row.row-items-30.row-cols-1.row-cols-sm-2.row-cols-lg-3.row-cols-xxl-4
					.col
						.form-group-label
							select.form-select#stores-filters-city(data-placeholder="Твоє місто")
								option(value="" selected=true) Твоє місто
							label(for="stores-filters-city") Твоє місто
					.col
						.form-group-label
							select.form-select#stores-filters-address(data-placeholder="Адреса магазину")
								option(value="" selected=true) Адреса магазину
							label(for="stores-filters-address") Адреса магазину

			// Filters results
			+e.filters-results
				.row.row-items-30.row-cols-1.row-cols-md-2.row-cols-xxl-3
					.col
						+b.shop-card
							+e.trigger(data-lat="49.4467869" data-lng="24.9262808")
							+e.city м. Івано-Франківськ
							+e.street вул. Вовчинецька, 126
							+e.services
								+e.services-item(data-toggle="tooltip" title="Можна перекусити")
									+icon('restaurant')
								+e.services-item(data-toggle="tooltip" title="Кава з собою")
									+icon('coffee')
								+e.services-item(data-toggle="tooltip" title="Продаж алкоголю")
									+icon('alcohol')
					.col
						+b.shop-card
							+e.trigger(data-lat="48.944332" data-lng="24.691440")
							+e.city м. Івано-Франківськ
							+e.street вул. Горбачевського, 14А (АС-2)
							+e.services
								+e.services-item(data-toggle="tooltip" title="Можна перекусити")
									+icon('restaurant')
								+e.services-item(data-toggle="tooltip" title="Кава з собою")
									+icon('coffee')
								+e.services-item(data-toggle="tooltip" title="Продаж алкоголю")
									+icon('alcohol')
					.col
						+b.shop-card
							+e.trigger(data-lat="48.5261087" data-lng="25.0274964")
							+e.city м. Івано-Франківськ
							+e.street вул. Грушевського, 70 (приміщення 7-А)
							+e.services
								+e.services-item(data-toggle="tooltip" title="Кава з собою")
									+icon('coffee')
								+e.services-item(data-toggle="tooltip" title="Продаж алкоголю")
									+icon('alcohol')
					.col
						+b.shop-card
							+e.trigger(data-lat="50.1338503" data-lng="23.8484675")
							+e.city м. Тернопіль
							+e.street вул. Живова, 15б
							+e.services
								+e.services-item(data-toggle="tooltip" title="Кава з собою")
									+icon('coffee')
								+e.services-item(data-toggle="tooltip" title="Продаж алкоголю")
									+icon('alcohol')

			// Google Map
			+e.map
				#map
