extends ../common/layout

block vars
	- var title = '404. Сторінку не знайдено'

block content
	main.page-tech

		// Section: Technical page
		+b.SECTION.page-404.section
			.container
				+e.inner(data-aos="fade-up")
					+e.character.mb-48
						img(src="./images/man.svg" alt="404. Сторінку не знайдено")
					+e.H1.title.text-xl 404. Сторінку не знайдено
					+e.p.descr Халепа! Схоже за цим посиланням нічого не знайдено.
					+e.button.mt-48
						+btn('home.html', 'На головну')
