extends ../common/layout

block vars
	- var title = 'Про нас'

block content
	main.page-main

		+b.SECTION.page-heading(data-aos="fade-up")
			.container
				+b.breadcrumbs
					+e.list
						li
							a(href="home.html")
								+icon('home')
								span Головна
						li
							span Про нас
				+b.H1.title.text-xl.w-bold Про нас

		// Section: History
		+b.SECTION.a-history.section
			.container
				.row
					.col-lg-7.order-1.order-lg-0.align-self-center
						+e.content
							h2.title.title-xs(data-aos="fade-up" data-aos-delay="50") М'ясна історія
							p.descr.text-sm(data-aos="fade-up" data-aos-delay="100") Ідея виробництва ковбасних виробів прийшла і була втілена в життя у 2008 році. Успіх в даному починанні заключався в наступному, — робити ковбаси та шинки так, як робили наші батьки, дідусі та прадіди з давніх давен!
							.adv.mt-64.row.row-items-30.row-cols-1.row-cols-md-2
								.col(data-aos="fade-up" data-aos-delay="150")
									h3.mb-16.text-red-200.text-xs Цінності
									p.mb-0 Як вважають багато експертів м’ясної галузі, наші вироби можна з гордістю називати «HANDMADE»!
								.col(data-aos="fade-up" data-aos-delay="200")
									h3.mb-16.text-red-200.text-xs Місія
									p.mb-0 Успіх в даному починанні заключався в наступному, — робити ковбаси та шинки так, як робили наші батьки, дідусі та прадіди з давніх давен!
					.col-lg-5.order-0.order-lg-1
						+e.photo
							img(src="./images/big-logo.svg" alt="Історія виникнення ТМ \"Рибак\"" data-aos="fade-up")
							.r-pattern(data-aos="fade-left" data-aos-delay="150")

		// Section: Chronology
		+b.SECTION.a-chronology.section.mt-64
			.container
				+e.heading.section-heading(data-aos="fade-up")
					h2.title Історія розвитку компанії

				+e.slider.swiper.mt-48(data-aos="fade-up")

					+e.pagination.swiper-pagination

					.swiper-wrapper
						// Slide
						+e.slide.swiper-slide(data-slide-title="2008")
							.row.row-cols-1.row-cols-xl-2
								.col
									+e.IMG.photo(src="./images/rybak-shop.png" alt="2008-2009 роки")
								.col
									+e.content
										h5.title.text-md 2008-2009 роки
										p Тринадцять років тому ми почали свою невелику сімейну справу. За цей час вона розрослася до компанії, але так і залишилась родинною.
										p Три покоління нашої сім’ї працюють у ТМ “Рибак”.
										p Усю продукцію ми виготовляємо на власному виробництві та пекарні в селі Підбірці, поруч зі Львовом. Щодня доставляємо ковбасні вироби, свіже м’ясо та випічку у магазини «Родинна ковбаска» по всій Україні, щоб ви могли смакувати лише найкраще.
						// Slide
						+e.slide.swiper-slide(data-slide-title="2010")
							.row.row-cols-1.row-cols-xl-2
								.col
									+e.IMG.photo(src="./images/rybak-shop.png" alt="2010-2011 роки")
								.col
									+e.content
										h5.title.text-md 2010-2011 роки
										p Тринадцять років тому ми почали свою невелику сімейну справу. За цей час вона розрослася до компанії, але так і залишилась родинною.
										p Три покоління нашої сім’ї працюють у ТМ “Рибак”.
										p Усю продукцію ми виготовляємо на власному виробництві та пекарні в селі Підбірці, поруч зі Львовом. Щодня доставляємо ковбасні вироби, свіже м’ясо та випічку у магазини «Родинна ковбаска» по всій Україні, щоб ви могли смакувати лише найкраще.
						// Slide
						+e.slide.swiper-slide(data-slide-title="2012")
							.row.row-cols-1.row-cols-xl-2
								.col
									+e.IMG.photo(src="./images/rybak-shop.png" alt="2012-2013 роки")
								.col
									+e.content
										h5.title.text-md 2012-2013 роки
										p Тринадцять років тому ми почали свою невелику сімейну справу. За цей час вона розрослася до компанії, але так і залишилась родинною.
										p Три покоління нашої сім’ї працюють у ТМ “Рибак”.
										p Усю продукцію ми виготовляємо на власному виробництві та пекарні в селі Підбірці, поруч зі Львовом. Щодня доставляємо ковбасні вироби, свіже м’ясо та випічку у магазини «Родинна ковбаска» по всій Україні, щоб ви могли смакувати лише найкраще.
						// Slide
						+e.slide.swiper-slide(data-slide-title="2014")
							.row.row-cols-1.row-cols-xl-2
								.col
									+e.IMG.photo(src="./images/rybak-shop.png" alt="2014-2015 роки")
								.col
									+e.content
										h5.title.text-md 2014-2015 роки
										p Тринадцять років тому ми почали свою невелику сімейну справу. За цей час вона розрослася до компанії, але так і залишилась родинною.
										p Три покоління нашої сім’ї працюють у ТМ “Рибак”.
										p Усю продукцію ми виготовляємо на власному виробництві та пекарні в селі Підбірці, поруч зі Львовом. Щодня доставляємо ковбасні вироби, свіже м’ясо та випічку у магазини «Родинна ковбаска» по всій Україні, щоб ви могли смакувати лише найкраще.
						// Slide
						+e.slide.swiper-slide(data-slide-title="2016")
							.row.row-cols-1.row-cols-xl-2
								.col
									+e.IMG.photo(src="./images/rybak-shop.png" alt="2016-2017 роки")
								.col
									+e.content
										h5.title.text-md 2016-2017 роки
										p Тринадцять років тому ми почали свою невелику сімейну справу. За цей час вона розрослася до компанії, але так і залишилась родинною.
										p Три покоління нашої сім’ї працюють у ТМ “Рибак”.
										p Усю продукцію ми виготовляємо на власному виробництві та пекарні в селі Підбірці, поруч зі Львовом. Щодня доставляємо ковбасні вироби, свіже м’ясо та випічку у магазини «Родинна ковбаска» по всій Україні, щоб ви могли смакувати лише найкраще.
						// Slide
						+e.slide.swiper-slide(data-slide-title="Сьогодні")
							.row.row-cols-1.row-cols-xl-2
								.col
									+e.IMG.photo(src="./images/rybak-shop.png" alt="Сьогодні")
								.col
									+e.content
										h5.title.text-md Сьогодні
										p Тринадцять років тому ми почали свою невелику сімейну справу. За цей час вона розрослася до компанії, але так і залишилась родинною.
										p Три покоління нашої сім’ї працюють у ТМ “Рибак”.
										p Усю продукцію ми виготовляємо на власному виробництві та пекарні в селі Підбірці, поруч зі Львовом. Щодня доставляємо ковбасні вироби, свіже м’ясо та випічку у магазини «Родинна ковбаска» по всій Україні, щоб ви могли смакувати лише найкраще.

		// Section: Advantages
		+b.SECTION.a-advantages.section.mt-120(data-aos="fade-up" data-aos-id="counter-number")
			.container
				+e.slider.swiper
					.swiper-wrapper.mb-48
						.swiper-slide
							+e.item
								.number.text-red-200.text-xxl.w-bold(data-end-value="14") 14
								p.descr Відкритих точок продажу продукції ТМ “Рибак” в Україні
						.swiper-slide
							+e.item
								.number.text-red-200.text-xxl.w-bold(data-end-value="65") 65
								p.descr Партнерів з якими ми успішно співпрацюємо вже не один рік
						.swiper-slide
							+e.item
								.number.text-red-200.text-xxl.w-bold(data-end-value="965") 965
								p.descr Дестрибюторів продукції ТМ “Рибак” по всій Україні

					+e.pagination.swiper-pagination

		// Section: Partners
		+b.SECTION.a-partners.section.mt-120
			.container
				+e.heading.section-heading.row.align-items-center(data-aos="fade-up")
					.col-md
						h2.title Наші партнери
						.descr
							p Тринадцять років тому ми почали свою невелику сімейну справу.
					.col-md-auto
						.button
							+btn('coop.html', 'Стати партнером')
				+e.slider.mt-16(data-aos="fade-up" data-aos-delay="100")
					.swiper
						.swiper-wrapper
							// Slide
							+e.slide.swiper-slide
								.logotype.img-scale
									img(src="./images/partners/1.png" alt="Партнер #1")
							// Slide
							+e.slide.swiper-slide
								.logotype.img-scale
									img(src="./images/partners/2.png" alt="Партнер #2")
							// Slide
							+e.slide.swiper-slide
								.logotype.img-scale
									img(src="./images/partners/3.png" alt="Партнер #3")
							// Slide
							+e.slide.swiper-slide
								.logotype.img-scale
									img(src="./images/partners/4.png" alt="Партнер #4")
							// Slide
							+e.slide.swiper-slide
								.logotype.img-scale
									img(src="./images/partners/5.png" alt="Партнер #5")
							// Slide
							+e.slide.swiper-slide
								.logotype.img-scale
									img(src="./images/partners/6.png" alt="Партнер #6")
							// Slide
							+e.slide.swiper-slide
								.logotype.img-scale
									img(src="./images/partners/1.png" alt="Партнер #7")

						+e.navigation.swiper-navigation.d-none.d-md-block
							.swiper-button-prev
								+icon('arrow')
								+icon('icon-mask')
							.swiper-button-next
								+icon('arrow')
								+icon('icon-mask')

					+e.pagination.swiper-pagination

		// Section: Banner
		+b.SECTION.r-banner.section.mt-120
			.container
				+e.inner(data-aos="fade-up")
					+e.content
						h2.title Шукайте наші фірмові магазини поблизу
						p.descr.text-dark Мережа фірмових магазинів від ТМ “Рибак”.
						.button
							+btn-arrow('stores.html', 'Знайти магазин на карті')
					+e.photo
						img(src="./images/stores.svg" alt="Шукайте наші фірмові магазини поблизу")

		// Section: News
		+b.SECTION.h-news.section.mt-120
			.container
				.section-heading.row.align-items-center(data-aos="fade-up")
					.col-md
						h2.title Новини компанії
					.col-md-auto
						.button
							+btn-arrow('news.html', 'До всіх новин')
				+e.slider.swiper.mt-48(data-aos="fade-up")
					.swiper-wrapper.mb-48
						.swiper-slide
							.card.card-news
								.card-meta
									.date 23 липня 2021
									h4.title.text-xxs
										a(href="news-single.html") Новинка від ТМ “Рибак” — сало в банках — це неймовірно смачно та зручно
									p.descr Обирайте: сало по-домашньому чи пряне. Або куштуйте обидва. Ідеально смакують з хлібом та цибулькою.
						.swiper-slide
							.card.card-news
								.card-meta
									.date 10 липня 2021
									h4.title.text-xxs
										a(href="news-single.html") Запрошуємо комунікабельних продавців та досвідчених водіїв-експедиторів
									p.descr Хочете стати частиною нашої великої та дружньої команди? Запрошуємо комунікабельних продавців та досвідчених водіїв-експедиторів!
						.swiper-slide
							.card.card-news
								.card-meta
									.date 13 червня 2021
									h4.title.text-xxs
										a(href="news-single.html") Даруємо 2 кг шашлику, щоб ви могли насолодитись вихідними з сім'єю чи друзями!
									p.descr Ніжне соковите м'яско, що просто тане у роті — зізнавайтесь, захотіли скуштувати? Результати розіграшу — 31.05.
						.swiper-slide
							.card.card-news
								.card-meta
									.date 4 червня 2021
									h4.title.text-xxs
										a(href="news-single.html") Літо яскравіше з оновленою вареною курячою ковбасою
									p.descr Купуйте у магазинах ТМ ”Рибак” за ціною лише 9,50 грн/100 грам до 6.06.21. Зізнавайтесь, любите?

					+e.pagination.swiper-pagination
