extends ../common/layout

block vars
	- var title = 'Співпраця'

block content
	main.page-main

		+b.SECTION.page-heading(data-aos="fade-up")
			.container
				+b.breadcrumbs
					+e.list
						li
							a(href="home.html")
								+icon('home')
								span Головна
						li
							span Співпраця
				+b.H1.title.w-bold Співпраця

		// Section: Cooperation
		+b.SECTION.coop-main
			.container
				.row.row-items-30.row-cols-1.row-cols-lg-2
					.col
						+e.item(data-aos="fade-up" data-aos-delay="100")
							+e.A.item-inner.zoom-photo(href="coop-partners.html")
								.heading
									h3.title Партнерам
									p.descr Мережа Рибак співпрацює з провідними підприємствами України, а також із зарубіжними компаніями.
								.link
									button.btn-arrow
										span Перейти до розділу
										em
											+icon('arrow')
								.symbol
									svg(class="icon icon-symbol")
										use(xlink:href="./images/symbol-defs.svg#symbol")
					.col
						+e.item(data-aos="fade-up" data-aos-delay="150")
							+e.A.item-inner.zoom-photo(href="coop-provider.html")
								.heading
									h3.title Постачальникам
									p.descr Ми відкриті до пропозицій, які здатні поліпшити або доповнити асортимент наших магазинів.
								.link
									button.btn-arrow
										span Перейти до розділу
										em
											+icon('arrow')
								.symbol
									svg(class="icon icon-symbol")
										use(xlink:href="./images/symbol-defs.svg#symbol")
					.col
						+e.item(data-aos="fade-up" data-aos-delay="200")
							+e.A.item-inner.zoom-photo(href="coop-realty.html")
								.heading
									h3.title Нерухомість
									p.descr Ми відкриті до пропозицій, які здатні поліпшити або доповнити асортимент наших магазинів.
								.link
									button.btn-arrow
										span Перейти до розділу
										em
											+icon('arrow')
								.symbol
									svg(class="icon icon-symbol")
										use(xlink:href="./images/symbol-defs.svg#symbol")
					.col
						+e.item(data-aos="fade-up" data-aos-delay="250")
							+e.A.item-inner.zoom-photo(href="coop-advertising.html")
								.heading
									h3.title Реклама
									p.descr Мережа Рибак співпрацює з провідними підприємствами України, а також із зарубіжними компаніями.
								.link
									button.btn-arrow
										span Перейти до розділу
										em
											+icon('arrow')
								.symbol
									svg(class="icon icon-symbol")
										use(xlink:href="./images/symbol-defs.svg#symbol")
