extends ../common/layout

block vars
	- var title = 'Постачальникам'

block content
	main.page-main

		+b.SECTION.page-heading(data-aos="fade-up")
			.container
				+b.breadcrumbs
					+e.list
						li
							a(href="home.html")
								+icon('home')
								span Головна
						li
							a(href="coop.html") Співпраця
						li
							span Партнерам
				+b.H1.title.w-bold Постачальникам

		// Cooperation single
		+b.coop-single

			// Section: About
			+e.SECTION.about.section.mb-120
				.container
					+e.about-content(data-aos="fade-up")
						h2.title.mb-24.text-xl Заголовок для постачальників
						.descr
							p Мережа Рибак співпрацює з провідними підприємствами України, а також із зарубіжними компаніями. Наші відносини з компаніями-партнерами базуються на взаємній довірі, прозорості та чіткому дотриманні всіх домовленостей.
							p Ми відкриті до пропозицій, які здатні поліпшити або доповнити асортимент наших магазинів.

			// Section: Contacts
			+e.SECTION.contacts.section
				.container
					.row.row-items-60
						.col-xl-5
							+e.contacts-info
								.section-heading(data-aos="fade-up")
									h3.suptitle.title-xs Зв’яжіться з нами
									h2.title Контактна інформація
								.contacts.row.row-items-30.row-cols-1.row-cols-md-2.row-cols-xl-1
									.col(data-aos="fade-up")
										.card.card-contacts
											.card-meta
												.post Керівник відділу ВТМ
												.name Ліля Швайка
												+b.UL.phone
													li
														+phone('+380 50 437 14 56')
												+b.UL.email
													li
														+email('l.shvajka@gmail.com')
						.col-xl-7
							+e.contacts-feedback(data-aos="fade-up" data-aos-delay="100")
								.section-heading
									h2.title Зворотній зв’язок
									.descr
										p Якщо ви не знайшли інформацію, яка вас цікавить, залиште свої контакти і ми зв’яжемось з вами.
								include coop/feedback-form
