extends ../common/layout

block vars
	- var title = 'Виробництво'

block content
	main.page-main

		+b.SECTION.page-heading(data-aos="fade-up")
			.container
				+b.breadcrumbs
					+e.list
						li
							a(href="home.html")
								+icon('home')
								span Головна
						li
							span Виробництво
				+b.H1.title.text-xl.w-bold Виробництво

		// Section: Intro
		+b.SECTION.f-intro.section
			.container
				.row
					.col-xxl-6.order-1.order-xxl-0
						img.radius-6(src="./images/factory/1.jpg" alt="Виробничі потужності" data-aos="fade-up")
					.col-xxl-6.order-0.order-xxl-1
						+e.content(data-aos="fade-up" data-aos-delay="100")
							h2.mb-24.text-xl Виробничі потужності
							p Виробничі потужності ТМ «Рибак» розташовані на Західній Україні: у містечку Радехів Львівської області.
							p Завод був побудований ще в 1955 році, коли Україна була частиною Радянського Союзу. Тоді це було державне підприємство “Радехівський маслозавод” із спеціалізацією – виробництво масла та згущеного молока. Після розпаду Радянського Союзу підприємство, як і інші підприємства по всій країні, почало простоювати без урядових грантів та підтримки. Проте підприємству, на відміну від багатьох інших українських підприємств, пощастило і у 1998 році “Галичина” відновила виробництво.
							p Спочатку завод виробляв масло та згущене молоко, як це було раніше, потім його поступово модернізували; почалося виробництво сметани та молока. Після 2000 року запуск виробництва кефіру та йогурту відкрив нову сторінку в історії компанії та заводу. “Галичина” зростала, а продукція ставала дедалі актуальнішою.

		// Section: Advantages
		+b.SECTION.f-advantages.section.mt-120(data-aos="fade-up")
			.container
				.row.align-items-center
					.col-md.order-1.order-xl-0
						+e.content
							h2.title Дотримуємось стандартів HACCP
							.description
								p Екологічна політика – пріоритетний напрямок роботи компанії «РИБАК». Ми розуміємо масштаби проблеми галузі, тому підтримуємо екологічні ініціативи громадських організацій та активістів, маркуємо своє упакування, закликаємо сортувати сміття.
					.col-md-3.order-0.order-xl-2
						+e.photo
							img(src="./images/factory/haccp.svg" alt="Дотримуємось стандартів HACCP")

		// Section: Production
		+b.SECTION.f-production.section.mt-120
			.container
				.row.row-items-40
					.col-xl-6
						img.radius-6(src="./images/factory/factory-process.svg" alt="Наша продукція" data-aos="fade-up")
					.col-xl-6
						+e.content(data-aos="fade-up" data-aos-delay="100")
							h2.mb-24.text-xl Наша продукція
							p <b>98% сировини</b> ТМ «Рибак» отримує з фермерських господарств, що забезпечує високий вміст білка та якісні показники молока у виготовлені продукції.
							p Виробництво молочної продукції сертифіковане згідно вимог міжнародного стандарту безпечності харчових продуктів <b>IFS Food 6.1</b>, який відноситься до категорії найвищих міжнародних стандартів у сфері безпеки харчових продуктів.
							p <b>У 2018 році у компанії відбувся ребрединг.</b> ТМ «Рибак» змінила дизайн і випустила нові, унікальні для України продукти за авторським рецептом – Карпатський йогурт та Карпатський кефір. Запуск лінійки Карпатських кисломолочних продуктів став результатом тривалих досліджень потреб та вподобань споживачів, вивчення новітніх світових трендів та традицій молочного виробництва Рибак.
							p При цьому м’ясні традиції залишаються незмінними, а ТМ «Рибак» є відомим українським м’ясним брендом.
