extends ../common/layout

block vars
	- var title = 'Головна сторінка'

block content
	main.page-main

		// Section: Heroes
		+b.SECTION.h-heroes
			+e.content
				.container
					h1.title.text-white.text-xxl(data-aos="fade-up") ТМ "Рибак"<br> насолоджуйся традиціями
					p.descr.text-white(data-aos="fade-up" data-aos-duration="700") Наша продукція – це не лише якісна сировина, сучасне обладнання, дотримання українських та світових стандартів. Це передусім любов до своєї праці і до українців, для яких виготовляється продукція.
			+e.bg
				//- img(src="./images/heroes-photo.jpg" alt="ТМ \"Рибак\" насолоджуйся традиціями")
				video(autoplay muted playsinline loop)
					source(src="https://rodynna-kovbaska.ua/themes/rk/assets/static/v/rk-top.mp4" type="video/mp4")

		// Section: Advantages
		+b.SECTION.h-advantages.section.mt-120
			.container
				.section-heading.mb-48
					+e.pattern(data-aos="fade-left")
						h3.suptitle.title-xs Що ми робимо?
						h2.title РИБАК — це
						.r-pattern
				+e.slider.swiper(data-aos="fade-up")
					.swiper-wrapper.mb-48
						.swiper-slide
							+e.item
								+b.heading
									+e.picture.mb-24
										img(src="./images/icons/campfire.svg" alt="Копчення на дровах")
										+icon('icon-mask')
									+e.H2.title.mb-12.text-sm.w-demi Копчення на дровах
								p.descr.mb-0 Всі ковбаси отримали найвищу оцінку експертів, адже основна частина їх виготовляється за ДСТУ із використанням лише високоякісної сировини.
						.swiper-slide
							+e.item
								+b.heading
									+e.picture.mb-24
										img(src="./images/icons/meat.svg" alt="Власне виробництво")
										+icon('icon-mask')
									+e.H2.title.mb-12.text-sm.w-demi Власне виробництво
								p.descr.mb-0 Доставка продукції клієнтам здійснюється в будь-яку точку України транспортом зі спеціалізованим холодильним обладнанням, що дає змогу зберегти всі якісні характеристики продукції.
						.swiper-slide
							+e.item
								+b.heading
									+e.picture.mb-24
										img(src="./images/icons/delivery.svg" alt="Доставка два рази на день")
										+icon('icon-mask')
									+e.H2.title.mb-12.text-sm.w-demi Доставка два рази на день
								p.descr.mb-0 Запрошуємо до співпраці магазини, супермаркети, гуртівні, та дилерів. Пропонуємо вигідні умови співпраці. Широкий асортимент м’ясних та ковбасних виробів, більше 150 найменувань.

					+e.pagination.swiper-pagination

		// Section: Gallery
		+b.SECTION.h-gallery.section.mt-120
			.container
				.row.align-items-center
					.col-md-auto
						+e.photos(data-aos="fade-right")
							img(src="./images/h-gallery-photo-01.jpg" alt="Фотогалерея ТМ \"Рибак\" #1").photo-01
							img(src="./images/h-gallery-photo-02.jpg" alt="Фотогалерея ТМ \"Рибак\" #2").photo-02
							.r-pattern
					.col-md
						+e.content(data-aos="fade-left" data-aos-delay="100")
							h2.mb-16.text-xl Фотогалерея
							.descr
								p Доставка продукції клієнтам здійснюється в будь-яку точку України транспортом зі спеціалізованим холодильним обладнанням, що дає змогу зберегти всі якісні характеристики продукції.
							.button.mt-32
								+btn('gallery.html', 'Переглянути')

		// Section: Banner
		+b.SECTION.r-banner.section.mt-120
			.container
				+e.inner(data-aos="fade-down")
					+e.content
						h2.title Шукайте наші фірмові магазини поблизу
						p.descr.text-dark Мережа фірмових магазинів від ТМ “Рибак”.
						.button
							+btn-arrow('stores.html', 'Знайти магазин на карті')
					+e.photo
						img(src="./images/stores.svg" alt="Шукайте наші фірмові магазини поблизу")

		// Section: News
		+b.SECTION.h-news.section.mt-120
			.container
				.section-heading.row.align-items-center(data-aos="fade-up")
					.col-md
						h2.title Останні новини
					.col-md-auto
						.button
							+btn-arrow('news.html', 'До всіх новин')
				+e.slider.swiper.mt-48(data-aos="fade-up")
					.swiper-wrapper.mb-48
						.swiper-slide
							.card.card-news
								.card-meta
									.date 23 липня 2021
									h4.title.text-xxs
										a(href="news-single.html") Новинка від ТМ “Рибак” — сало в банках — це неймовірно смачно та зручно
									p.descr Обирайте: сало по-домашньому чи пряне. Або куштуйте обидва. Ідеально смакують з хлібом та цибулькою.
						.swiper-slide
							.card.card-news
								.card-meta
									.date 10 липня 2021
									h4.title.text-xxs
										a(href="news-single.html") Запрошуємо комунікабельних продавців та досвідчених водіїв-експедиторів
									p.descr Хочете стати частиною нашої великої та дружньої команди? Запрошуємо комунікабельних продавців та досвідчених водіїв-експедиторів!
						.swiper-slide
							.card.card-news
								.card-meta
									.date 13 червня 2021
									h4.title.text-xxs
										a(href="news-single.html") Даруємо 2 кг шашлику, щоб ви могли насолодитись вихідними з сім'єю чи друзями!
									p.descr Ніжне соковите м'яско, що просто тане у роті — зізнавайтесь, захотіли скуштувати? Результати розіграшу — 31.05.
						.swiper-slide
							.card.card-news
								.card-meta
									.date 4 червня 2021
									h4.title.text-xxs
										a(href="news-single.html") Літо яскравіше з оновленою вареною курячою ковбасою
									p.descr Купуйте у магазинах ТМ ”Рибак” за ціною лише 9,50 грн/100 грам до 6.06.21. Зізнавайтесь, любите?

					+e.pagination.swiper-pagination
