extends ../common/layout

block vars
	- var title = 'Головна сторінка'

block content
	main.page-main

		+b.SECTION.h-heroes
			+e.content
				.container
					h1.title.text-white.text-xxl ТМ "Рибак"<br> насолоджуйся традиціями
					p.descr.text-white Наша продукція – це не лише якісна сировина, сучасне обладнання, дотримання українських та світових стандартів. Це передусім любов до своєї праці і до українців, для яких виготовляється продукція.
			+e.bg
				//- img(src="./images/heroes-photo.jpg" alt="ТМ \"Рибак\" насолоджуйся традиціями")
				video(autoplay muted playsinline loop)
					source(src="https://rodynna-kovbaska.ua/themes/rk/assets/static/v/rk-top.mp4" type="video/mp4")