extends ../common/layout

block vars
	- var title = 'Головна сторінка'

block content
	main.page-main

		+b.SECTION.h-heroes
			+e.content
				.container
					h1.title.text-white.text-xxl ТМ "Рибак"<br> насолоджуйся традиціями
					p.descr.text-white Наша продукція – це не лише якісна сировина, сучасне обладнання, дотримання українських та світових стандартів. Це передусім любов до своєї праці і до українців, для яких виготовляється продукція.
			+e.bg
				//- img(src="./images/heroes-photo.jpg" alt="ТМ \"Рибак\" насолоджуйся традиціями")
				video(autoplay muted playsinline loop)
					source(src="https://rodynna-kovbaska.ua/themes/rk/assets/static/v/rk-top.mp4" type="video/mp4")

		+b.SECTION.h-advantages.section.mt-120
			.container
				.section-heading.mb-48
					h3.suptitle Що ми робимо?
					h2.title РИБАК — це
				.row.row-items-30.row-cols-3
					.col
						+e.item
							.picture.mb-24
								img(src="./images/icons/campfire.svg" alt="Копчення на дровах")
								+icon('icon-mask')
							h2.title.mb-12.text-sm.w-demi Копчення на дровах
							p.descr.mb-0 Всі ковбаси отримали найвищу оцінку експертів, адже основна частина їх виготовляється за ДСТУ із використанням лише високоякісної сировини.
					.col
						+e.item
							.picture.mb-24
								img(src="./images/icons/meat.svg" alt="Власне виробництво")
								+icon('icon-mask')
							h2.title.mb-12.text-sm.w-demi Власне виробництво
							p.descr.mb-0 Доставка продукції клієнтам здійснюється в будь-яку точку України транспортом зі спеціалізованим холодильним обладнанням, що дає змогу зберегти всі якісні характеристики продукції.
					.col
						+e.item
							.picture.mb-24
								img(src="./images/icons/delivery.svg" alt="Доставка два рази на день")
								+icon('icon-mask')
							h2.title.mb-12.text-sm.w-demi Доставка два рази на день
							p.descr.mb-0 Запрошуємо до співпраці магазини, супермаркети, гуртівні, та дилерів. Пропонуємо вигідні умови співпраці. Широкий асортимент м’ясних та ковбасних виробів, більше 150 найменувань.

		+b.SECTION.h-gallery.section.mt-120
			.container
				.row.align-items-center
					.col-auto
						+e.photos
							img(src="./images/h-gallery-photo-01.jpg" alt="Фотогалерея ТМ \"Рибак\" #1").photo-01
							img(src="./images/h-gallery-photo-02.jpg" alt="Фотогалерея ТМ \"Рибак\" #2").photo-02
							.rybak-pattern
					.col
						+e.content
							h2.mb-16.text-xl Фотогалерея
							.descr
								p Доставка продукції клієнтам здійснюється в будь-яку точку України транспортом зі спеціалізованим холодильним обладнанням, що дає змогу зберегти всі якісні характеристики продукції.
							.button.mt-32
								+btn('#', 'Переглянути')

		+b.r-banner.section.mt-120
			.container
				+e.inner
					+e.content
						h2.title Шукайте наші фірмові магазини поблизу
						p.descr.text-dark Мережа фірмових магазинів від ТМ “Рибак”.
						.button
							+btn-arrow('#', 'Знайти магазин на карті')
					+e.IMG.photo(src="./images/banner-01.png" alt="Шукайте наші фірмові магазини поблизу")

		+b.h-news.section.mt-120
			.container
				.row.align-items-center
					.col
						h2.text-xl Останні новини
					.col-auto
						+btn-arrow('#', 'До всіх новин')
				.row.row-cols-4.mt-48
					.col
						.card.card-news-xs
							.date 23 липня 2021
							h4.title
								a(href="#") Новинка від ТМ “Рибак” — сало в банках — це неймовірно смачно та зручно
							p.descr Обирайте: сало по-домашньому чи пряне. Або куштуйте обидва. Ідеально смакують з хлібом та цибулькою.
					.col
						.card.card-news-xs
							.date 10 липня 2021
							h4.title
								a(href="#") Запрошуємо комунікабельних продавців та досвідчених водіїв-експедиторів
							p.descr Хочете стати частиною нашої великої та дружньої команди? Запрошуємо комунікабельних продавців та досвідчених водіїв-експедиторів!
					.col
						.card.card-news-xs
							.date 13 червня 2021
							h4.title
								a(href="#") Даруємо 2 кг шашлику, щоб ви могли насолодитись вихідними з сім'єю чи друзями!
							p.descr Ніжне соковите м'яско, що просто тане у роті — зізнавайтесь, захотіли скуштувати? Результати розіграшу — 31.05.
					.col
						.card.card-news-xs
							.date 4 червня 2021
							h4.title
								a(href="#") Літо яскравіше з оновленою вареною курячою ковбасою
							p.descr Купуйте у магазинах ТМ ”Рибак” за ціною лише 9,50 грн/100 грам до 6.06.21. Зізнавайтесь, любите?
