doctype html
html(lang="uk")
	block head
		head
			meta(charset="utf-8")
			title ТМ "Рибак" — М"ясна історія
			meta(name="description" content="Корпоративний сайт для компанії")
			meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

			link(rel="icon" href="./images/favicon.png")

			link(rel="stylesheet" href="./css/vendors/bootstrap.css")
			link(rel="stylesheet" href="./css/main.css")
	body
		main
			div.container

				style(type="text/css").
					main {
						padding-top: 32px;
					}
					.pages-logo {
						width: 180px;
					}
					.pages-list {
						counter-reset: page;
						padding-left: 0;
					}
					.pages-list li {
						display: flex;
						align-items: center;
						list-style: none;
						margin-bottom: 8px;
					}
					.pages-list li::before {
						counter-increment: page;
						content: counter(page);
						display: inline-flex;
						align-items: center;
						justify-content: center;
						width: 26px;
						height: 26px;
						margin-right: 12px;
						border-radius: 50%;
						background-color: #C61D19;
						color: #FFF;
						font-size: 14px;
						font-weight: 500;
						transition: .3s ease;
					}
					.pages-list li a {
						display: inline-block;
						font-weight: 400;
					}

				div.pages-logo.mb-32
					img(src="images/logo.svg" alt="ТМ \"Рибак\" — М'ясна історія")
				
				div.row.row-items-30
					div.col-sm-6
						h3.mb-24.text-md.w-heavy Навігація
						ol.pages-list
							li
								a(href="home.html") Головна сторінка
							li
								a(href="about.html") Про нас
							li
								a(href="production.html") Продукція ТМ "Рибак"
