extends ../common/layout

block vars
	- var title = 'Новини'

block content
	main.page-main

		+b.SECTION.page-heading
			.container
				+b.breadcrumbs
					+e.list
						li
							a(href="home.html")
								+icon('home')
								span Головна
						li
							span Новини
				+b.H1.title.text-xl.w-bold Новини

		// Section: News
		+b.SECTION.news-main.section
			.container
				.row.row-items-60.row-cols-1.row-cols-md-2
					.col
						.card.card-news
							.card-photo.img-cover.zoom-photo
								a(href="news-single.html")
									img(src="./images/news/1.jpg" alt="Новинка від ТМ “Рибак” — сало в банках — це неймовірно смачно та зручно")
							.card-meta
								.date 23 липня 2021
								h4.title.text-sm
									a(href="news-single.html") Новинка від ТМ “Рибак” — сало в банках — це неймовірно смачно та зручно
								p.descr Обирайте: сало по-домашньому чи пряне. Або куштуйте обидва. Ідеально смакують з хлібом та цибулькою.
					.col
						.card.card-news
							.card-photo.img-cover.zoom-photo
								a(href="news-single.html")
									img(src="./images/news/2.jpg" alt="Запрошуємо комунікабельних продавців та досвідчених водіїв-експедиторів")
							.card-meta
								.date 10 липня 2021
								h4.title.text-sm
									a(href="news-single.html") Запрошуємо комунікабельних продавців та досвідчених водіїв-експедиторів
								p.descr Хочете стати частиною нашої великої та дружньої команди? Запрошуємо комунікабельних продавців та досвідчених водіїв-експедиторів!
					.col
						.card.card-news
							.card-photo.img-cover.zoom-photo
								a(href="news-single.html")
									img(src="./images/news/3.jpg" alt="Даруємо 2 кг шашлику, щоб ви могли насолодитись вихідними з сім'єю чи друзями!")
							.card-meta
								.date 13 червня 2021
								h4.title.text-sm
									a(href="news-single.html") Даруємо 2 кг шашлику, щоб ви могли насолодитись вихідними з сім'єю чи друзями!
								p.descr Ніжне соковите м'яско, що просто тане у роті — зізнавайтесь, захотіли скуштувати? Результати розіграшу — 31.05.
					.col
						.card.card-news
							.card-photo.img-cover.zoom-photo
								a(href="news-single.html")
									img(src="./images/news/4.jpg" alt="Літо яскравіше з оновленою вареною курячою ковбасою")
							.card-meta
								.date 4 червня 2021
								h4.title.text-sm
									a(href="news-single.html") Літо яскравіше з оновленою вареною курячою ковбасою
								p.descr Купуйте у магазинах ТМ ”Рибак” за ціною лише 9,50 грн/100 грам до 6.06.21. Зізнавайтесь, любите?
					.col
						.card.card-news
							.card-photo.img-cover.zoom-photo
								a(href="news-single.html")
									img(src="./images/news/5.jpg" alt="М’ясні чіпси зі свинини та курки — ідеально смакують у дорозі")
							.card-meta
								.date 30 травня 2021
								h4.title.text-sm
									a(href="news-single.html") М’ясні чіпси зі свинини та курки — ідеально смакують у дорозі
								p.descr Смачний перекус, який можна їсти всюди. Запасайтесь, щоб завжди мати чим підкріпитись.
					.col
						.card.card-news
							.card-photo.img-cover.zoom-photo
								a(href="news-single.html")
									img(src="./images/news/6.jpg" alt="Відкриття магазину ТМ “Рибак” в м. Перемишляни")
							.card-meta
								.date 7 квітня 2021
								h4.title.text-sm
									a(href="news-single.html") Відкриття магазину ТМ “Рибак” в м. Перемишляни
								p.descr Жителі м. Перемишляни — готуйтесь наповнювати сумки свіжим м’ясом, ковбасами та м’ясними делікатесами — 5.03 о 12:00 відкриття магазину ТМ “Рибак”! Адреса: м. Перемишляни, вул. Привокзальна, 2А.

				// Page pagination
				nav.pagination
					.nav-links
						a.prev.page-numbers(href="#")
							+icon('arrow')
							+icon('icon-mask')
						a.page-numbers(href="#") 1
						span.page-numbers.current 2
						a.page-numbers(href="#") 3
						span.page-numbers.dots …
						a.page-numbers(href="#") 5
						a.next.page-numbers(href="#")
							+icon('arrow')
							+icon('icon-mask')
