extends ../common/layout

block vars
	- var title = 'Куряча ковбаса варена'

block content
	main.page-main

		+b.SECTION.page-heading(data-aos="fade-up")
			.container
				+b.breadcrumbs
					+e.list
						li
							a(href="home.html")
								+icon('home')
								span Головна
						li
							a(href="production.html") Продукція ТМ "Рибак"
						li
							a(href="production-catalog.html") Готова продукція
						li
							span Куряча ковбаса варена
				+b.H1.title.w-bold Куряча ковбаса варена

		// Section: Production single
		+b.SECTION.pd-single.section
			.container
				+e.wrapper.row.row-items-60

					// Product gallery slider
					.col-xl-5.col-xxl-6
						+e.gallery(data-aos="fade-up")
							.product-labels
								.label.label-new Новинка
								// .label.label-popular Популярне

							+e.gallery-wrapper

								+e.gallery-thumbs.swiper
									.swiper-scrollbar
									.swiper-wrapper
										.swiper-slide
											.product-thumb.img-cover
												img(src="./images/production/product-single.jpg" alt="Куряча ковбаса варена")
										.swiper-slide
											.product-thumb.img-cover
												img(src="./images/production/product-2.png" alt="Куряча ковбаса варена")
										.swiper-slide
											.product-thumb.img-cover
												img(src="./images/production/product-3.png" alt="Куряча ковбаса варена")
										.swiper-slide
											.product-thumb.img-cover
												img(src="./images/production/product-4.png" alt="Куряча ковбаса варена")
										.swiper-slide
											.product-thumb.img-cover
												img(src="./images/production/product-5.png" alt="Куряча ковбаса варена")
										.swiper-slide
											.product-thumb.img-cover
												img(src="./images/production/product-6.png" alt="Куряча ковбаса варена")

								+e.gallery-slider.swiper
									.swiper-wrapper
										.swiper-slide
											a.product-photo.img-cover(href="./images/production/product-single.jpg" data-fancybox)
												img(src="./images/production/product-single.jpg" alt="Куряча ковбаса варена")
										.swiper-slide
											a.product-photo.img-cover(href="./images/production/product-2.png" data-fancybox)
												img(src="./images/production/product-2.png" alt="Куряча ковбаса варена")
										.swiper-slide
											a.product-photo.img-cover(href="./images/production/product-3.png" data-fancybox)
												img(src="./images/production/product-3.png" alt="Куряча ковбаса варена")
										.swiper-slide
											a.product-photo.img-cover(href="./images/production/product-4.png" data-fancybox)
												img(src="./images/production/product-4.png" alt="Куряча ковбаса варена")
										.swiper-slide
											a.product-photo.img-cover(href="./images/production/product-5.png" data-fancybox)
												img(src="./images/production/product-5.png" alt="Куряча ковбаса варена")
										.swiper-slide
											a.product-photo.img-cover(href="./images/production/product-6.png" data-fancybox)
												img(src="./images/production/product-6.png" alt="Куряча ковбаса варена")

					// Product meta
					.col-xl-7.col-xxl-6
						+e.meta(data-aos="fade-up" data-aos-delay="50")
							.title.text-dark.w-heavy Ковбаса напівкопчена вищого сорту «Львівська»
							.descr
								p <b>Склад:</b> яловичина знежилована першого сорту, сало хребтове, філе курчат-бройлерів, стабілізатор білковий зі шкіри свинячої, вода питна, сіль кухонна харчова, тваринні білки, крохмаль картопляний, перець чорний мелений, прянощі: кмин; екстракти прянощів: часник, коріандр, чорний перець.
								p <b>Харчова (поживна) цінність на 100 г продукту:</b> білків – 15,3 г, жирів – 26,6 г.
								p <b>Калорійність (енергетична цінність) на 100 г продукту:</b> 300,4 ккал/1256,9 кДж.
								p <b>Строк придатності:</b> зберігати за температури від 0 до +6 °С не більше ніж 15 діб, запакованою під вакуумом порційно – не більше ніж 15 діб, запакованою під вакуумом – не більше ніж 25 діб.
							.link.link-more#product-descr(role="button") Читати більше

							+b.attributes
								+e.item
									img.icon(src="./images/icons/thermometer.svg" alt="Температура зберігання")
									.name Температура зберігання
									.value 4-6°C
								+e.item
									img.icon(src="./images/icons/time.svg" alt="Термін придатності")
									.name Термін придатності
									.value 48 годин
								+e.item
									img.icon(src="./images/icons/weight.svg" alt="Мінімальне замовлення")
									.name Мінімальне замовлення
									.value від 0,1 кг
								+e.item
									img.icon(src="./images/icons/quality.svg" alt="Стандарт якості")
									.name Стандарт якості
									.value ISO-500
							+b.order-buttons
								+e.A.btn.--telegram(href="#" target="_blank" rel="nofollow noopener")
									+icon('telegram')
									span Замовити в Telegram
								+e.A.btn.--viber(href="#" target="_blank" rel="nofollow noopener")
									+icon('viber')
									span Замовити в Viber

		// Section: Other products
		include production/other-products
