extends ../common/layout

block vars
	- var title = 'Продукція ТМ "Рибак"'

block content
	main.page-main

		+b.SECTION.page-heading
			.container
				+b.breadcrumbs
					+e.list
						li
							a(href="home.html")
								+icon('home')
								span Головна
						li
							span Продукція ТМ "Рибак"
				+b.H1.title.text-xl.w-bold Продукція ТМ "Рибак"

		// Section: Production assortment
		+b.SECTION.pd-assortment
			.container
				.row.row-items-40.row-cols-1.row-cols-lg-3
					.col
						+e.item.zoom-photo
							a(href="production-catalog.html").permalink
							.content
								h3.title Свіже м’ясо
								span.link Перейти до розділу
							.photo.img-cover
								img(src="./images/production/1.png" alt="Свіже м’ясо")
					.col
						+e.item.zoom-photo
							a(href="production-catalog.html").permalink
							.content
								h3.title Напівфабрикати
								span.link Перейти до розділу
							.photo.img-cover
								img(src="./images/production/2.png" alt="Напівфабрикати")
					.col
						+e.item.zoom-photo
							a(href="production-catalog.html").permalink
							.content
								h3.title Готова продукція
								span.link Перейти до розділу
							.photo.img-cover
								img(src="./images/production/3.png" alt="Готова продукція")

		// Section: Download catalogs
		+b.SECTION.pd-catalogs.section.mt-80
			.container
				.section-heading.mb-48
					+e.pattern
						h3.suptitle.title-xs завантажити в PDF
						h2.title Каталоги продукції
						.descr
							p У своїй продукції компанія ТМ “Рибак” використовує інгредієнти найвищого ґатунку, які імпортують з самих різних куточків земної кулі. Власна та унікальна рецептура в парі з новітніми технологіями дозволяє виготовляти найякіснішу продукцію.
				.row.row-items-30.row-cols-1.row-cols-md-2.row-cols-xl-3
					.col
						+e.A.item(href="#" target="_blank" rel="noopener")
							.extension
								+icon('pdf')
							h4.title.text-xxs.w-medium Завантажити каталог продукції
					.col
						+e.A.item(href="#" target="_blank" rel="noopener")
							.extension
								+icon('pdf')
							h4.title.text-xxs.w-medium Завантажити каталог HoReCa
					.col
						+e.A.item(href="#" target="_blank" rel="noopener")
							.extension
								+icon('pdf')
							h4.title.text-xxs.w-medium Завантажити прайс-лист
