extends ../common/layout

block vars
	- var title = 'Мережа магазинів'

block content
	main.page-main

		+b.SECTION.page-heading(data-aos="fade-up")
			.container
				+b.breadcrumbs
					+e.list
						li
							a(href="home.html")
								+icon('home')
								span Головна
						li
							span Мережа магазинів
				+b.H1.title.text-xl.w-bold Мережа магазинів

		// Section: About
		+b.SECTION.stores-about.section
			.container
				.section-heading.mb-48(data-aos="fade-up")
					h2.title Фірмові магазини ТМ “Рибак”
					.descr
						p Наша продукція — це не лише якісна сировина, сучасне  обладнання, дотримання українських та світових стандартів. Це передусім любов до своєї праці і до українців, для яких виготовляється продукція.
				+e.list.row.row-items-40.row-cols-1.row-cols-md-3
					.col
						+e.item(data-aos="fade-up" data-aos-delay="100")
							.number.text-red-200.text-xxl.w-bold 62
							p.descr Власних фірмових магазинів в область України
					.col
						+e.item(data-aos="fade-up" data-aos-delay="150")
							.number.text-red-200.text-xxl.w-bold 200+
							p.descr Партнерів, які торгують продукцією від ТМ “Рибак”
					.col
						+e.item(data-aos="fade-up" data-aos-delay="200")
							.number.text-red-200.text-xxl.w-bold 20
							p.descr Міст України, де нас можна знайти
				+e.photo.mt-32.img-cover.radius-6(data-aos="fade-up" data-aos-delay="100")
					img(src="./images/stores-photo.png" alt="Фірмові магазини ТМ “Рибак”")

		// Section: Stores list
		include stores/google-map

block scripts
	script(src="./js/google-maps/rybak-map.js")
	script(src="./js/google-maps/markerclusterer.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN-SxwIq2Kzkd9rcj52RkCoBCt0vF4gT8&callback=initMap&language=ua" async)
