extends ../common/layout

block vars
	- var title = 'Дякуємо за заявку!'

block content
	main.page-tech

		// Section: Technical page
		+b.SECTION.page-404.section
			.container
				+e.inner
					+e.character.mb-48
						img(src="./images/man-2.svg" alt="Наш менеджер зв’яжеться з Вами протягом дня.")
					+e.H1.title.text-xl Дякуємо за заявку!
					+e.p.descr Наш менеджер зв’яжеться з Вами протягом дня.
					+e.button.mt-48
						+btn('home.html', 'Повернутися назад')
