extends ../common/layout

block vars
	- var title = 'Вакансії'

block content
	main.page-main

		+b.SECTION.page-heading(data-aos="fade-up")
			.container
				+b.breadcrumbs
					+e.list
						li
							a(href="home.html")
								+icon('home')
								span Головна
						li
							span Вакансії
				+b.H1.title.w-bold Вакансії

		// Section: Vacancies list
		+b.SECTION.vacancies-main.section
			.container
				+e.heading.section-heading(data-aos="fade-up")
					h2.text-md Відкриті вакансії в фірмовій мережі ТМ “Рибак”
					.descr
						p Надсилайте Ваше резюме через форму «Подати резюме», або перегляньте наявні вакансії, обравши посаду та місто, де Ви бажаєте працювати.
				+e.list.mt-64#vacancies
					+b.vacancy(data-aos="fade-up")
						+e.heading#v-heading-1(data-toggle="collapse" data-target="#v-collapse-1" aria-expanded="true" aria-controls="v-collapse-1")
							+b.meta
								+e.H4.title.w-demi Водій-експедитор
								+e.location
									+icon('location')
									span Івано-Франківська область
							.trigger
						+e.body.collapse.show#v-collapse-1(aria-labelledby="v-heading-1" data-parent="#vacancies")
							+e.inner
								+e.ARTICLE.text
									p ТМ «Рибак» — лідер м’ясопереробної галузі, запрошує у свою команду Водія-експедитора.
									p <b>Вимоги до кандидата:</b>
									ul
										li посвідчення водія кат В, С, водійська медична довідка
										li досвід роботи водієм-експедитором буде перевагою
										li відмінні навики водіння, досвід від 2 років
										li охайність, відповідальність
										li вік до 45 років
									p <b>Обов’язки:</b>
									ul
										li доставка готової продукції та м’ясної сировини
										li контроль товару згідно накладних, робота з накладними
										li матеріальна відповідальність за товар та транспорт
										li знання асортименту продукції компанії
									p <b>Умови роботи:</b>
									ul
										li графік роботи Пн-Сб, Нд — вихідний
										li офіційне працевлаштування
								+e.apply
									button.btn(type="button" data-toggle="modal" data-target="#vacancyModal" data-vacancy="Водій-експедитор") Заповнити анкету
					+b.vacancy(data-aos="fade-up")
						+e.heading#v-heading-2(data-toggle="collapse" data-target="#v-collapse-2" aria-expanded="false" aria-controls="v-collapse-2")
							+b.meta
								+e.H4.title.w-demi Заступник керуючого магазином
								+e.location
									+icon('location')
									span м. Тернопіль
							.trigger
						+e.body.collapse#v-collapse-2(aria-labelledby="v-heading-2" data-parent="#vacancies")
							+e.inner
								+e.ARTICLE.text
									p ТМ «Рибак» — лідер м’ясопереробної галузі, запрошує у свою команду Водія-експедитора.
									p <b>Вимоги до кандидата:</b>
									ul
										li посвідчення водія кат В, С, водійська медична довідка
										li досвід роботи водієм-експедитором буде перевагою
										li відмінні навики водіння, досвід від 2 років
										li охайність, відповідальність
										li вік до 45 років
									p <b>Обов’язки:</b>
									ul
										li доставка готової продукції та м’ясної сировини
										li контроль товару згідно накладних, робота з накладними
										li матеріальна відповідальність за товар та транспорт
										li знання асортименту продукції компанії
									p <b>Умови роботи:</b>
									ul
										li графік роботи Пн-Сб, Нд — вихідний
										li офіційне працевлаштування
								+e.apply
									button.btn(type="button" data-toggle="modal" data-target="#vacancyModal" data-vacancy="Заступник керуючого магазином") Заповнити анкету

block modals
	include modals/vacancy
