// Font sizes mixin
@mixin font-size($size)
	@if $size == 'xxl'
		font-size: 76px
		line-height: 1.15
		+media-breakpoint-down(lg)
			font-size: 64px
		+media-breakpoint-down(md)
			font-size: 56px
		+media-breakpoint-down(sm)
			font-size: 48px
		+media-breakpoint-down(xs)
			font-size: 40px

	@if $size == 'xl'
		font-size: 52px
		line-height: 1.15
		+media-breakpoint-down(lg)
			font-size: 48px
		+media-breakpoint-down(md)
			font-size: 46px
		+media-breakpoint-down(sm)
			font-size: 40px
		+media-breakpoint-down(xs)
			font-size: 34px

	@if $size == 'md'
		font-size: 32px
		line-height: 1.3
		+media-breakpoint-down(sm)
			font-size: 26px
		+media-breakpoint-down(xs)
			font-size: 24px

	@else if $size == 'sm'
		font-size: 24px
		line-height: 1.3
		+media-breakpoint-down(sm)
			font-size: 20px

	@else if $size == 'xs'
		font-size: 20px
		line-height: $lineheight
		+media-breakpoint-down(xs)
			font-size: 18px

	@else if $size == 'xxs'
		font-size: 18px
		line-height: $lineheight
