// Page breadcrumbs
.breadcrumbs
	&-list
		display: flex
		flex-wrap: wrap
		align-items: center
		> li
			display: inline-flex
			align-items: center
			color: $dark
			padding-right: 6px
			&:first-child > a
				display: inline-flex
				align-items: center
				color: $red-200
				.icon
					font-size: 16px
				> span
					margin-left: 8px
					line-height: 1
				&:hover
					color: $red-400
			&:last-child
				display: none
			&:not(:first-child)
				&::before
					content: ''
					display: inline-block
					width: 4px
					height: 4px
					margin-left: 6px
					margin-right: 12px
					border-radius: 50%
					background-color: #D4D4D4
			> a
				color: $text
				&:hover
					color: $red-200
			> a,
			> span
				+font-size(xxs)

// Light breadcrumbs
.breadcrumbs--white
	.breadcrumbs-list
		> li
			color: $white
			&:first-child > a
				color: $red-300
			> a
				color: $white
				&:hover
					opacity: 0.7
