// Base customize for button
button, .btn
	user-select: none
	display: inline-flex
	align-items: center
	justify-content: center
	border: none
	background-color: $trsp
	font-family: inherit
	font-size: 18px
	font-weight: $w-book
	line-height: 1
	text-align: center
	white-space: nowrap
	outline: none !important
	transition: $trs
	+media-breakpoint-down(xs)
		font-size: 16px
	&:focus
		box-shadow: 0 0 0 4px rgba($red-200, 0.2)
	&:disabled
		opacity: 0.7

.btn
	overflow: hidden
	position: relative
	z-index: 1
	min-width: 180px
	height: 64px
	border-radius: 32px
	padding-left: 32px
	padding-right: 32px
	color: $white
	+media-breakpoint-down(md)
		height: 52px
	+media-breakpoint-down(xs)
		height: 46px
		min-width: 160px
		padding-left: 20px
		padding-right: 20px
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		background: $red-200 url('../images/button-bg.svg') no-repeat center/cover
		will-change: transform
		transition: transform .3s ease
	&:hover
		box-shadow: 0 0 0 4px rgba($red-200, 0.2)
		color: $white
		&::before
			transform: scale(1.5)
	&:active
		box-shadow: 0 0 0 2px rgba($red-200, 0.2)

// Button with circle arrow
.btn-arrow
	z-index: 2
	display: inline-flex
	align-items: center
	&:hover
		> span
			color: $red-200
		> em::before
			transform: scale(1.25)
			+media-breakpoint-down(sm)
				transform: none
	> span
		margin-right: 12px
		color: $dark
		font-size: 18px
		transition: color .3s ease
	> em
		overflow: hidden
		position: relative
		display: flex
		align-items: center
		justify-content: center
		width: 40px
		height: 40px
		border-radius: 50%
		font-size: 16px
		font-style: normal
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			background: $trsp url('../images/arrow-button-bg.svg') no-repeat center/cover
			will-change: transform
			transition: transform .3s ease
		> .icon
			fill: $white

// Burger button
.btn-burger
	border-radius: 0
	color: $dark
	font-size: 32px
	padding-left: 0
	padding-right: 0
	&:hover
		color: $red-200
	&:focus
		box-shadow: none

// Close button
.btn-close
	border-radius: 0
	color: $dark
	padding: 0
	font-size: 18px
	&:hover
		color: $red-200
	&:focus
		box-shadow: none
	&:active
		transform: scale(0.9)

// Go up button
.go-up
	position: fixed
	right: 16px
	bottom: 16px
	z-index: 999
	opacity: 0
	visibility: hidden
	transform: translateY(6px)
	transition: $trs
	&._is-shown
		opacity: 1
		visibility: visible
		transform: translateY(0)
	&-btn
		width: 48px
		height: 48px
		border-radius: 4px
		background-color: $red-200
		color: $white
		font-size: 16px
		+media-breakpoint-down(xs)
			width: 42px
			height: 42px
			font-size: 14px
		+media-breakpoint-down(xxs)
			width: 36px
			height: 36px
		&:hover
			box-shadow: 0 0 0 4px rgba($red-200, 0.2)
		&:active
			box-shadow: 0 0 0 3px rgba($red-200, 0.2)
		.icon
			transform: rotate(-90deg)

// Download file button
.btn-file
	display: flex
	align-items: center
	height: 100%
	padding: 30px
	border-radius: 6px
	border: 1px solid $border
	background-color: $lightblue
	+media-breakpoint-down(xl)
		padding: 20px
	&:hover
		border-color: $red-200
		background-color: $lightred
	.extension
		flex: 0 0 auto
		margin-right: 30px
		+media-breakpoint-down(xl)
			margin-right: 20px
		.icon
			fill: $red-200
			font-size: 42px
			+media-breakpoint-down(xl)
				font-size: 36px
	.title
		flex: 1 1 auto
		margin-bottom: 0
		line-height: 1.3
