/* ==========================================================================
	 Base customize for cards
	 ========================================================================== */
.card
	position: relative
	display: block
	min-width: 0
	height: 100%


/* ==========================================================================
	 News card
	 ========================================================================== */
.card-news
	.card-photo
		overflow: hidden
		height: 360px
		margin-bottom: 32px
		border-radius: 6px
		+media-breakpoint-down(xl)
			height: 320px
		+media-breakpoint-down(lg)
			height: 260px
		+media-breakpoint-down(md)
			height: 230px
		+media-breakpoint-down(xxs)
			height: 200px
	.card-meta
		.date
			margin-bottom: 16px
			padding-left: 12px
			border-left: 3px solid $red-200
			color: $red-200
			font-size: 14px
			font-weight: $w-demi
			text-transform: uppercase
			+media-breakpoint-down(sm)
				margin-bottom: 8px
		.title
			margin-bottom: 12px
			+media-breakpoint-down(sm)
				margin-bottom: 8px
			> a
				display: inline-block
		.descr
			margin-bottom: 0
			+font-size(xxs)


/* ==========================================================================
	 Product card
	 ========================================================================== */
.card-product
	.card-photo:hover ~ .card-meta
		.permalink
			color: $red-200
	.card-labels
		pointer-events: none
		user-select: none
		position: absolute
		top: 0
		left: 0
		z-index: 1
		display: flex
		flex-wrap: wrap
		margin: -3px
		.label
			flex: 0 0 auto
			margin: 3px
			padding: 6px 8px
			border-radius: 3px
			font-size: 16px
			font-weight: $w-medium
			line-height: 1
			+media-breakpoint-down(xs)
				padding: 4px 6px
				font-size: 14px
			&-new
				background-color: #159600
				color: $white
			&-popular
				background-color: #FF7A00
				color: $white
	.card-photo
		height: 300px
		+media-breakpoint-down(lg)
			height: 260px
		+media-breakpoint-down(md)
			height: 200px
		+media-breakpoint-down(xs)
			height: 140px
		+media-breakpoint-down(xxs)
			height: 120px
	.card-meta
		margin-top: 20px
		+media-breakpoint-down(xs)
			margin-top: 10px
		.permalink
			display: block
			+font-size(xs)
			font-weight: $w-medium
			line-height: 1.3


/* ==========================================================================
	 Team card
	 ========================================================================== */
.card-team
	.card-photo
		height: 380px
		border-radius: 6px
		+media-breakpoint-down(xs)
			height: auto
	.card-meta
		margin-top: 24px
		.title
			margin-bottom: 0
		.post
			margin-top: 6px
			color: #858585
			+font-size(xxs)
		.contacts
			margin-top: 12px
			padding-top: 12px
			border-top: 1px solid $border
			&-item
				> a
					display: inline-block
					+font-size(xxs)
					word-break: break-all
				> a[href*="tel"]
					font-weight: $w-demi
				> a[href*="mailto"]
					color: $red-200
					&:hover
						color: $red-400


/* ==========================================================================
	 Gallery card
	 ========================================================================== */
.card-gallery
	border-radius: 6px
	&::after
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: 0
		height: 50%
		background: linear-gradient(180deg, rgba(46, 46, 46, 0) 0%, #2E2E2E 100%)
	.card-label
		position: absolute
		top: 40px
		left: 40px
		z-index: 2
		padding: 8px 12px
		border-radius: 3px
		background-color: $red-200
		color: $white
		+font-size(xxs)
		line-height: 1
		+media-breakpoint-down(xl)
			top: 30px
			left: 30px
		+media-breakpoint-down(sm)
			font-size: 16px
		+media-breakpoint-down(xs)
			top: 24px
			left: 24px
	.card-photo
		height: 460px
		+media-breakpoint-down(xl)
			height: 420px
		+media-breakpoint-down(lg)
			height: 360px
		+media-breakpoint-down(xs)
			height: 280px
	.card-meta
		position: absolute
		left: 0
		right: 0
		bottom: 0
		z-index: 1
		padding: 40px
		+media-breakpoint-down(xl)
			padding: 30px
		+media-breakpoint-down(xs)
			padding: 24px
		.title
			margin-bottom: 0
			color: $white
			font-size: 32px
			font-weight: $w-bold
			line-height: 1.3
			+media-breakpoint-down(xl)
				font-size: 28px
			+media-breakpoint-down(lg)
				font-size: 24px
				font-weight: $w-heavy
		.link
			color: $white
			font-size: 14px
			font-weight: $w-demi
			text-transform: uppercase
			&::before
				content: ''
				display: block
				width: 60px
				height: 3px
				margin-top: 16px
				margin-bottom: 6px
				background-color: $red-300
				+media-breakpoint-down(lg)
					margin-top: 12px
					margin-bottom: 4px


/* ==========================================================================
	 Contacts card
	 ========================================================================== */
.card-contacts
	max-width: 450px
	padding: 30px
	border-radius: 6px
	border: 1px solid $border
	background-color: $white
	transition: $trs
	+media-breakpoint-down(lg)
		padding: 24px
	+media-breakpoint-down(sm)
		max-width: 100%
	&:hover
		border-color: $border-red
		box-shadow: 0px 0px 0px 1px $border-red
		.card-photo
			border-color: $border-red
	.card-photo
		position: absolute
		top: 30px
		right: 30px
		width: 100px
		height: 100px
		border-radius: 50%
		border: 2px solid $border
		transition: border .3s ease
		+media-breakpoint-down(lg)
			top: 24px
			right: 24px
			width: 80px
			height: 80px
	.card-meta
		margin-right: 120px
		+media-breakpoint-down(lg)
			margin-right: 90px
		.post
			margin-bottom: 16px
			font-weight: $w-demi
			line-height: 1.3
		.name
			color: $dark
			+font-size(xxs)
		.phone
			> li
				> a
					border-bottom: 1px solid $trsp
					color: $red-200
					+font-size(xxs)
					font-weight: $w-demi
					&:hover
						color: $red-400
						border-bottom-color: $red-400
		.email
			margin-top: 16px
