/* ==========================================================================
	 Base customize for cards
	 ========================================================================== */
.card
	position: relative
	display: block
	min-width: 0
	height: 100%