// Margin & Padding spacers mixin
$r-mp-sies: 16, 24, 32, 48, 64, 80, 120

@each $size in $r-mp-sies
	.mt-#{$size}
		margin-top: $size + px
	.mb-#{$size}
		margin-bottom: $size + px
	.pt-#{$size}
		padding-top: $size + px
	.pb-#{$size}
		padding-bottom: $size + px
