article, .article

	h1, h2, h3, h4, h5, h6,
	p,
	img,
	ul,
	ol,
	blockquote, table
		margin-bottom: 24px
		+media-breakpoint-down(xs)
			margin-bottom: 16px

	h1, h2, h3, h4, h5, h6
		+font-size(sm)

	img
		border-radius: 6px

	a
		border-bottom: 1px solid $dark
		&:hover
			color: $red-200
			border-bottom-color: $red-200

	ul
		> li
			position: relative
			display: flex
			align-items: baseline
			&:not(:last-child)
				margin-bottom: 8px
			&::before
				content: ''
				flex: 0 0 auto
				position: relative
				display: inline-block
				width: 7px
				height: 7px
				margin-left: 12px
				margin-right: 12px
				border-radius: 50%
				background-color: $text
				+media-breakpoint-down(xs)
					top: -1px
					width: 5px
					height: 5px
					margin-left: 8px
					margin-right: 10px

	blockquote
		padding-left: 24px
		border-left: 3px solid $red-200
