// Aside: Filters
.filters
	position: relative
	&::after
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 3
		background-color: rgba($white, 0.75)
		visibility: hidden
		opacity: 0
		transition: $trs
	&._is-loading::after
		visibility: visible
		opacity: 1
	&-item
		&:not(:last-child)
			margin-bottom: 40px
			+media-breakpoint-down(lg)
				margin-bottom: 20px
	&-title
		margin-bottom: 24px
	&-form
		+media-breakpoint-down(lg)
			display: flex
			flex-wrap: wrap
			align-items: baseline
		.form-checkbox
			+media-breakpoint-down(lg)
				flex: 0 0 25%
				padding-right: 8px
			+media-breakpoint-down(sm)
				flex-basis: 33.33333%
			+media-breakpoint-down(xs)
				flex-basis: 50%
	&-reset
		display: none
		&-btn
			display: inline-flex
			align-items: baseline
			padding: 12px 24px
			border-radius: 32px
			border: 1px solid $border
			background-color: $lightblue
			font-size: 16px
			line-height: 1.25
			+media-breakpoint-down(lg)
				padding: 10px 20px
			&:hover
				border-color: $red-200
				background-color: $lightred