.r-banner
	&-inner
		overflow: hidden
		position: relative
		z-index: 1
		padding: 50px 50px 75px
		border-radius: 6px
		background-color: $lightblue
	&-content
		max-width: 600px
		.title
			margin-bottom: 16px
			font-size: 42px
		.descr
			margin-bottom: 0
			font-size: 18px
		.button
			margin-top: 32px
	&-photo
		position: absolute
		top: 0
		right: 0
		bottom: 0
		z-index: -1
		mix-blend-mode: multiply
