.footer
	overflow: hidden
	margin-top: 160px
	background-color: #3F3F3F
	+media-breakpoint-down(md)
		margin-top: 120px
	+media-breakpoint-down(sm)
		margin-top: 80px
	&-inner
		position: relative
		&::before
			content: ''
			pointer-events: none
			position: absolute
			top: -52px
			margin-bottom: 15px
			right: -110px
			width: 530px
			height: 580px
			background: url('../images/rybak-symbol.svg') no-repeat top left / contain
			opacity: 0.03

	&-main
		padding-top: 68px

	&-title
		margin-bottom: 40px
		padding-top: 18px
		line-height: 1.3
		+media-breakpoint-down(lg)
			margin-bottom: 30px

	&-suptitle
		display: block
		color: #AAAAAA
		font-size: 18px
		line-height: 1.3
	
	&-info
		margin-right: 90px
		+media-breakpoint-down(lg)
			margin-right: 0
		.logo
			&-link
				display: inline-block
			&-img
				width: 100%
				max-height: 58px
		.address,
		.social
			margin-top: 30px
			+media-breakpoint-down(lg)
				margin-top: 20px
		.address
			&-title
				margin-bottom: 8px
			&-link
				display: inline-block
		.social
			&-title
				margin-bottom: 12px
			&-list
				display: inline-flex
				align-items: center
				> a
					display: inline-flex
					align-items: center
					justify-content: center
					width: 36px
					height: 36px
					border-radius: 3px
					background-color: $red-200
					color: $white
					font-size: 18px
					&:not(:last-child)
						margin-right: 12px
					&:hover
						background-color: $lightred
						color: $red-200

	&-nav
		&-list
			> li
				margin-bottom: 12px
				> a
					position: relative
					display: inline-block
					color: rgba($white, 0.7)
					font-size: 18px
					line-height: 1.3
					&::before
						content: ''
						position: absolute
						top: 0
						left: -12px
						width: 3px
						height: 100%
						background-color: $red-200
						opacity: 0
						transform: scaleY(0)
						transition: $trs
					&:hover
						color: $white
						&::before
							opacity: 1
							transform: none

	&-contacts
		&-title
			margin-bottom: 8px
		&-item
			.phone > a
				font-weight: $w-heavy
			.email > a
				font-size: 16px
			.phone,
			.email
				> a
					display: inline-block
					color: $white
					line-height: 1.3
					word-break: break-all
					&::before
						content: ''
						position: absolute
						top: 0
						left: -12px
						width: 3px
						height: 100%
						background-color: $red-200
						opacity: 0
						transform: scaleY(0)
						transition: $trs
					&:hover
						color: $white
						&::before
							opacity: 1
							transform: none

	&-bottom
		display: flex
		align-items: center
		justify-content: space-between
		padding-top: 28px
		padding-bottom: 28px
		border-top: 1px solid rgba($white, 0.15)
		+media-breakpoint-down(sm)
			flex-direction: column

	&-copyright
		color: #A0A0A0
		font-size: 16px
		+media-breakpoint-down(sm)
			text-align: center

	&-madeby
		font-size: 16px
		text-align: right
		+media-breakpoint-down(sm)
			margin-top: 16px
			text-align: center
		> a
			color: $white
			border-bottom: 1px solid $trsp
			&:hover
				border-bottom-color: rgba($white, 0.25)
			> span
				color: red
