/* ==========================================================================
	 Mobile menu
	 ========================================================================== */
.mmenu
	pointer-events: none
	overflow-x: hidden
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 999
	max-width: 375px
	background-color: $white
	visibility: hidden
	opacity: 0
	transform: translateX(-10px)
	transition: $trs
	&._is-active
		pointer-events: auto
		visibility: visible
		opacity: 1
		transform: none

	// Backdrop
	&-backdrop
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 998
		background-color: rgba(0,0,0, 0.75)
		opacity: 0
		&.show
			opacity: 1

	&-wrapper
		overflow-x: hidden
		height: 100%
		padding: 16px

	&-heading
		display: flex
		align-items: center
		justify-content: space-between
		padding-bottom: 16px
		.title
			padding-right: 30px
		.close
			display: inline-flex
			align-items: center
			justify-content: center
			width: 32px
			height: 32px
			.btn-close
				color: #9c9c9c
				&:hover
					color: $red-200

	&-main
