.page-main
	overflow-x: hidden

.page-heading
	padding-top: 80px
	padding-bottom: 80px
	+media-breakpoint-down(md)
		padding-top: 60px
		padding-bottom: 60px
	+media-breakpoint-down(xs)
		padding-top: 40px
		padding-bottom: 40px
	.title
		margin-top: 12px
		margin-bottom: 0