.page-main
	padding-bottom: 160px
	+media-breakpoint-down(lg)
		padding-top: 100px
		padding-bottom: 120px
	+media-breakpoint-down(md)
		padding-bottom: 80px
	+media-breakpoint-down(sm)
		padding-top: 70px
		padding-bottom: 40px
	+media-breakpoint-down(xs)
		padding-top: 60px

.page-tech
	padding-top: 140px
	padding-bottom: 140px
	background-color: $lightblue
	+media-breakpoint-down(sm)
		padding-top: 100px
		padding-bottom: 100px
	+media-breakpoint-down(xxs)
		padding-top: 60px
		padding-bottom: 60px

.page-heading
	padding-top: 80px
	padding-bottom: 80px
	+media-breakpoint-down(md)
		padding-top: 60px
		padding-bottom: 60px
	+media-breakpoint-down(xs)
		padding-top: 40px
		padding-bottom: 40px
	.title
		margin-top: 12px
		margin-bottom: 0
		font-size: 52px
		line-height: 1.15
		+media-breakpoint-down(lg)
			font-size: 48px
		+media-breakpoint-down(md)
			font-size: 42px
		+media-breakpoint-down(sm)
			font-size: 36px
		+media-breakpoint-down(xs)
			font-size: 28px

// Single product page
.page-main-product
	.page-heading
		padding-bottom: 40px
