.section
	position: relative
	&-heading
		.title
			max-width: 880px
			margin-bottom: 0
			+font-size(xl)
			font-weight: $w-heavy
			+media-breakpoint-down(sm)
				font-weight: $w-demi
		.descr
			max-width: 880px
			margin-top: 12px
			> p:last-child
				margin-bottom: 0
		.button
			+media-breakpoint-down(sm)
				margin-top: 24px
			+media-breakpoint-down(xs)
				margin-top: 16px

.title-xs
	margin-bottom: 12px
	padding-left: 12px
	border-left: 3px solid $red-200
	color: $red-200
	font-size: 14px
	font-weight: $w-demi
	line-height: 1.5
	text-transform: uppercase
