//- Filter product types
mixin productTypes(products)
	for product, index in products
		+b.form-checkbox
			input(type="radio" name="product-type[]" id="product-type-" + index)
			+e.label(for="product-type-" + index) #{product}

+b.ASIDE.filters(data-aos="fade-up")#catalog-products-filter
	+e.item
		+e.FORM.form
			+e.nav._is-current
				+e.A.nav-category(href="#") Напівфабрикати
				+e.nav-subcategories
					+productTypes(['Курятина', 'Напівкопчені та копченоварені продукти', 'М’ясо качки', 'Яловичина', 'Телятина'])
			+e.nav
				+e.A.nav-category(href="#") Свіже м'ясо
				+e.nav-subcategories
					+productTypes(['Курятина', 'Свинина', 'Баранина', 'Індичатина'])
			+e.nav
				+e.A.nav-category(href="#") Напівфабрикати
				+e.nav-subcategories
					+productTypes(['Курятина', 'Свинина', 'Баранина', 'Індичатина'])

	+e.reset#catalog-products-filter-reset
		+e.A.reset-btn(href="#") &times; Скасувати фільтри