+b.SECTION.pd-other-products.section.mt-80
	.container
		.section-heading.mb-48.row.align-items-end(data-aos="fade-up")
			.col-md
				h3.suptitle.title-xs Інші товари
				h2.title Вас також може зацікавити
			.col-md-auto
				.button
					+btn-arrow('production-catalog.html', 'Переглянути всі товари')
		.row.row-items-30.row-cols-2.row-cols-xl-4
			.col(data-aos="fade-up" data-aos-delay="100")
				.card.card-product.zoom-out-photo
					.card-labels
						.label.label-new Новинка
					.card-photo.img-scale
						a(href="production-single.html")
							img(src="./images/production/product-1.png" alt="Куряча ковбаса варена")
					.card-meta
						a.permalink(href="production-single.html") Куряча ковбаса варена
			.col(data-aos="fade-up" data-aos-delay="150")
				.card.card-product.zoom-out-photo
					.card-photo.img-scale
						a(href="production-single.html")
							img(src="./images/production/product-2.png" alt="Свинячі легені")
					.card-meta
						a.permalink(href="production-single.html") Свинячі легені
			.col(data-aos="fade-up" data-aos-delay="200")
				.card.card-product.zoom-out-photo
					.card-labels
						.label.label-popular Популярне
					.card-photo.img-scale
						a(href="production-single.html")
							img(src="./images/production/product-3.png" alt="Кручене сало з часником і зеленню")
					.card-meta
						a.permalink(href="production-single.html") Кручене сало з часником і зеленню
			.col(data-aos="fade-up" data-aos-delay="250")
				.card.card-product.zoom-out-photo
					.card-photo.img-scale
						a(href="production-single.html")
							img(src="./images/production/product-4.png" alt="Свинячі легені")
					.card-meta
						a.permalink(href="production-single.html") Свинячі легені
