+b.FOOTER.footer
	.container
		+e.inner

			+e.main.row.row-items-40.justify-content-between
				+e.info.col-xl-3
					+b.logo
						+e.A.link(href="index.html")
							+e.IMG.img(src="./images/logo-light.svg" width="160" height="58" alt="ТМ \"Рибак\"")
					+b.address
						+e.SPAN.title.footer-suptitle Головний офіс
						+e.A.link.link-white(href="https://goo.gl/maps/BrXCx8HPzcSQwxHd7" title="Перейти на Google Maps" target="_blank" rel="nofollow noopener") Івано-Франківська обл., Тисменицький р-н, с. Ямниця, вул. Галицька, 2Г.
					+b.social
						+e.SPAN.title.footer-suptitle Ми в соцмережах
						+e.list
							a(href="https://www.facebook.com/" title="Перейти до спільноти" target="_blank")
								+icon('facebook')
							a(href="https://www.instagram.com/" title="Перейти до сторінки" target="_blank")
								+icon('instagram')

				+b.footer-nav.col-md-6.col-xl-4
					h5.footer-title.text-white.text-sm Навігація по сайту
					.row.row-cols-1.row-cols-xs-2
						.col
							+e.UL.list
								li
									a(href="about.html") Про нас
								li
									a(href="production.html") Продукція
								li
									a(href="coop.html") Співпраця
								li
									a(href="stores.html") Мережа магазинів
								li
									a(href="gallery.html") Фотогалерея
						.col
							+e.UL.list
								li
									a(href="team.html") Наша команда
								li
									a(href="vacancies.html") Вакансії
								li
									a(href="news.html") Новини
								li
									a(href="contacts.html") Контакти

				+b.footer-contacts.col-md-6.col-xl-4
					h5.footer-title.text-white.text-sm Контактна інформація
					.row.row-cols-1.row-cols-xs-2.row-items-30
						.col
							+e.item
								+e.SPAN.title.footer-suptitle Відділ збуту
								.phone
									+phone("067 635 70 42")
								.phone
									+phone("067 341 03 00")
								.email
									+email("sale@tmrybak.com.ua")
						.col
							+e.item
								+e.SPAN.title.footer-suptitle Відділ закупок сировини
								.phone
									+phone("067 635 70 89")
								.email
									+email("postach@tmrybak.com.ua")
						.col
							+e.item
								+e.SPAN.title.footer-suptitle Адміністрація
								.phone
									+phone("067 340 58 01")
								.email
									+email("info@tmrybak.com.ua")
						.col
							+e.item
								+e.SPAN.title.footer-suptitle Відділ персоналу
								.phone
									+phone("095 147 48 71")
								.email
									+email("hr@tmrybak.com.ua")

			+e.bottom
				+e.copyright ТМ “Рибак” © 2008-2021. Всі права захищені.
				+e.madeby
					a(href="https://aprostir.com" target="_blank") Made with <span>❤</span> by aprostir

include mobile-menu
