block header
	+b.HEADER.header
		.container
			+e.inner
				+b.logo
					+e.link(href="index.html")
						+e.img(src="./images/logo.svg" width="160" height="58" alt="ТМ \"Рибак\"")
				+b.menu
					+e.burger
						button.btn-burger
							+icon('burger')
					+e.UL.list
						+e.item.menu-item-has-children
							+e.link(href="#") Компанія
							+e.UL.dropdown
								li
									a(href="about.html") Про нас
								li
									a(href="factory.html") Виробництво
								li
									a(href="team.html") Наша команда
								li
									a(href="vacancies.html") Вакансії
								li
									a(href="gallery.html") Фотогалерея
								li
									a(href="news.html") Новини
						+e.item.menu-item-has-children
							+e.link(href="production.html") Продукція
							+e.UL.dropdown
								li
									a(href="production-catalog.html") Свіже м’ясо
								li
									a(href="production-catalog.html") Напівфабрикати
								li
									a(href="production-catalog.html") Готова продукція
						+e.item
							+e.link(href="stores.html") Магазини
						+e.item.menu-item-has-children
							+e.link(href="coop.html") Співпраця
							+e.UL.dropdown
								li
									a(href="coop-partners.html") Партнерам
								li
									a(href="coop-provider.html") Постачальникам
								li
									a(href="coop-realty.html") Нерухомість
								li
									a(href="coop-advertising.html") Реклама
						+e.item
							+e.link(href="contacts.html") Контакти
						+e.item
							+e.link(href="blog.html") Блог
				+b.contacts
					+e.main
						.phone
							+phone("+38 (067) 340-58-01")
						.email
							+email("info@tmrybak.com.ua")
					+e.social
						a(href="https://www.facebook.com/" title="Перейти до спільноти" target="_blank")
							+icon('facebook')
						a(href="https://www.instagram.com/" title="Перейти до сторінки" target="_blank")
							+icon('instagram')
