include ../../../node_modules/bemto.pug/bemto
include ../mixins

-
	set_bemto_settings({
		flat_elements: false,
		prefix: '',
		element: '-',
		modifier: '--'
	})

block vars

doctype html
html(lang="uk")
	block head
		head
			meta(charset="utf-8")
			title= title
			meta(name="description" content="Корпоративний сайт для компанії")
			meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

			link(rel="icon" href="./images/favicon.png")

			link(rel="stylesheet" href="./css/vendors/bootstrap.css")
			link(rel="stylesheet" href="./css/main.css")
			block styles
	body
		block header
			include header
		|
		|
		block content
		|
		|
		block footer
			include footer
		|
		block modals
		|
		script(src="./js/jquery.js")
		script(src="./js/vendors.js")
		script(src="./js/bootstrap.bundle.js")
		script(src="./js/app.js")
		script(src="./js/sliders.js")
		block scripts
