+b.mmenu
	+e.wrapper

		+e.heading
			h5.title Меню
			.close
				button.btn-close
					+icon('close')

		+e.main
			+b.menu
				+e.UL.list
					+e.item.menu-item-has-children
						+e.link(href="#") Компанія
						+e.UL.dropdown
							li
								a(href="about.html") Про нас
							li
								a(href="factory.html") Виробництво
							li
								a(href="vacancies.html") Вакансії
					+e.item.menu-item-has-children
						+e.link(href="production.html") Продукція
						+e.UL.dropdown
							li
								a(href="production-catalog.html") Свіже м’ясо
							li
								a(href="production-catalog.html") Напівфабрикати
							li
								a(href="production-catalog.html") Готова продукція
					+e.item
						+e.link(href="shops.html") Магазини
					+e.item.menu-item-has-children
						+e.link(href="coop.html") Співпраця
						+e.UL.dropdown
							li
								a(href="coop-partners.html") Партнерам
							li
								a(href="coop-provider.html") Постачальникам
							li
								a(href="coop-realty.html") Нерухомість
							li
								a(href="coop-advertising.html") Реклама
					+e.item
						+e.link(href="contacts.html") Контакти

			+b.contacts
				+e.main
					.phone
						+phone("+38 (067) 340-58-01")
					.email
						+email("info@tmrybak.com.ua")
				+e.social
					a(href="https://www.facebook.com/")
						+icon('facebook')
					a(href="https://www.instagram.com/")
						+icon('instagram')