// Section: Intro
.f-intro
	&-content
		padding-top: 30px
		padding-left: 60px
		+media-breakpoint-down(xl)
			padding-left: 30px
		+media-breakpoint-down(lg)
			padding-top: 0
			padding-left: 0

// Section: Advantages
.f-advantages
	&-title
		margin-bottom: 0
	&-content
		padding-left: 30px
		padding-right: 30px
		+media-breakpoint-down(xl)
			padding-left: 0
			padding-right: 0
		> p:last-child
			margin-bottom: 0
	&-character
		margin-left: 45px

