// Section: About
.stores-about
	&-list
	&-item
		display: flex
		align-items: center
		padding-right: 45px
		+media-breakpoint-down(xl)
			flex-direction: column
			align-items: flex-start
			padding-right: 0
		.number
			margin-right: 30px
			line-height: 1
		.descr
			margin-bottom: 0
	&-photo
		height: 380px
		+media-breakpoint-down(sm)
			height: 320px

// Section: Stores (Filters & Map)
.stores-list
	&-filters
		margin-top: 32px
		&-results
			position: relative
			margin-top: 16px
			margin-bottom: 32px
			+scrollbar()
			&::before
				content: ''
				pointer-events: none
				position: absolute
				left: 0
				right: 0
				bottom: 0
				z-index: 4
				height: 40px
				background: linear-gradient(180deg, rgba($white, 0) 0%, rgba($white, 0.95) 100%)
			&::after
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: 3
				background-color: rgba($white, 0.75)
				visibility: hidden
				opacity: 0
				transition: $trs
			&._is-loading::after
				visibility: visible
				opacity: 1
			&-wrapper
				overflow-x: hidden
				overflow-y: auto
				max-height: 280px
				+media-breakpoint-down(xs)
					max-height: 220px
	&-map
		overflow: hidden
		height: 600px
		border-radius: 6px
		+media-breakpoint-down(xl)
			height: 540px
		+media-breakpoint-down(lg)
			height: 480px
		+media-breakpoint-down(md)
			height: 420px
		+media-breakpoint-down(xs)
			height: 360px
		+media-breakpoint-down(xxs)
			height: 320px
		#map
			height: 100%
		.rybak-gm-marker
			cursor: pointer
			position: absolute
			z-index: 2
			display: flex
			align-items: center
			justify-content: center
			width: 40px
			height: 39px
			background-image: url('../images/marker-cluster.svg')
			background-repeat: no-repeat
			background-position: center center
			color: $white
			font-family: $userfont
			font-size: 14px
			font-weight: $w-demi
		.rybak-infoWindow
			width: 260px
			padding: 6px
			border-radius: 6px
			background-color: $white
			font-family: $userfont
			text-align: center
			transform: translate3d(0,0,0)
			+media-breakpoint-down(xs)
				width: 100%
				padding: 0
			.title
				font-size: 17px
				font-weight: $w-demi
				+media-breakpoint-down(xs)
					font-size: 15px
			.link
				margin-top: 12px
				> a
					color: $red-400
					font-size: 14px
					font-weight: $w-demi
					text-transform: uppercase
					+media-breakpoint-down(xs)
						font-size: 12px
					&::after
						content: ''
						position: absolute
						top: 100%
						left: 0
						right: 0
						height: 2px
						background-color: $red-200
						opacity: 0
						will-change: transform
						transform: scaleX(0)
						transition: $trs
						+media-breakpoint-down(xxs)
							display: none
					&:hover
						color: $red-200
						&::after
							opacity: 1
							transform: none
