// Section: About
.shops-about
	&-list
	&-item
		display: flex
		align-items: center
		padding-right: 45px
		.number
			margin-right: 30px
			line-height: 1
		.descr
			margin-bottom: 0
	&-photo
		height: 380px

// Section: Shops list
.shops-list
	&-filters
		margin-top: 32px
		&-results
			margin-top: 16px
			.shop-card
				height: 100%
				padding: 24px
				border-radius: 6px
				border: 1px solid $border
				background-color: $white
				transition: $trs
				&:hover
					cursor: pointer
					border-color: $border-red
					background-color: $lightred
				&-city
				&-street
					margin-top: 4px
					color: $dark
					font-weight: $w-demi
				&-services
					display: flex
					flex-wrap: wrap
					align-items: baseline
					margin-top: 16px
					&-item
						color: $red-200
						&:not(:last-child)
							margin-right: 12px
	&-map
		height: 600px
		#rybak-map
			height: 100%
